*.pyc
*.so
__pycache__
.DS_Store
.benchmarks
.cache
.coverage*
.direnv
.eggs
.hypothesis
.idea
.mypy_cache
.tox
.venv
/bazel-*
build
_build
coverage.xml
dist
htmlcov
pip-wheel-metadata

# User-specific settings file for this repo
.user.bazelrc

# Don't check in lockfile for now. It is unstable.
# https://github.com/bazelbuild/bazel/issues/19026
# https://github.com/bazelbuild/bazel/issues/19621
# https://github.com/bazelbuild/bazel/issues/19971
# https://github.com/bazelbuild/bazel/issues/20272
# https://github.com/bazelbuild/bazel/issues/20369
MODULE.bazel.lock
